# Mengabaikan folder environment dan cache Python
__pycache__/
.env
.venv/
env/
venv/

# Mengabaikan file dataset mentah yang ukurannya terlalu besar
*.zip
BX-Books.csv
BX-Users.csv
BX-Book-Ratings.csv

# Mengabaikan log file
*.log